<div class="mb-6">
  <%= link_to "â† #{truncate(@article.title, length: 40)}", admin_article_path(@article), class: "text-sm admin-link-back" %>

  <h1 class="admin-heading mt-2 text-2xl font-semibold">Edit Article</h1>
</div>

<%= render "form", article: @article %>
