<div class="mb-6">
  <%= link_to "â† Articles", admin_articles_path, class: "text-sm admin-link-back" %>

  <h1 class="admin-heading mt-2 text-2xl font-semibold">New Article</h1>
</div>

<%= render "form", article: @article %>
