<%= turbo_frame_tag "live-feed" do %>
  <% if @articles.any? %>
    <div class="space-y-4">
      <% @articles.each do |article| %>
        <%= render "articles/article", article: article %>
      <% end %>
    </div>
  <% else %>
    <div class="py-12 text-center">
      <p class="text-lg font-light text-crow-sand-dim">No articles yet. The crow is still watching.</p>
    </div>
  <% end %>
<% end %>
