<div class="mb-6">
  <%= link_to "â† Reddit Posts", admin_reddit_posts_path, class: "text-sm admin-link-back" %>

  <h1 class="admin-heading mt-2 text-2xl font-semibold">New Reddit Post</h1>
</div>

<%= render "form", reddit_post: @reddit_post %>
